.tr-drop-effect {
  background-color: #f8f8f8;
}

.star-empty {
  color: #d0d0d0;
}

.dir-icon {
  position: relative;
  text-align: center;
  width: 24px;
  min-width: 24px;
  overflow: visible;
}

.dir-icon .locked {
  position: absolute;
  width: 14px !important;
  height: 14px !important;
  max-width: none !important;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.tag-list-title {
  overflow: hidden;
}

.dirent-sdoc-draft-identifier {
  display: inline-block;
  font-size: 14px;
  color: #888;
  background: #eee;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  margin-left: 6px;
}
